
<% header "Edit #{resource_name.to_s.humanize}" %>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div id="warnings" role="alert" data-dismiss="alert">
      <%= devise_error_messages! %>
  </div>

    <%= f.text_field :first_name, class: 'form-control' %>
    <%= f.text_field :last_name, class: 'form-control' %>
    <%= f.email_field :email, class: 'form-control' %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <span class="label label-info">Currently waiting confirmation for: <%= resource.unconfirmed_email %></span>
    <% end %>

    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    <span class="help-block">leave blank if you don't want to change password</span>

    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>

    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    <span class="help-block">we need your current password to confirm your changes</span>

  <%= f.submit "Update Your Info", remote: true, class: 'btn btn-outline-warning update_acc' %>
<% end %>



<div class="cancel_account">
  <h3>Cancel my account</h3>
  <p>
    <span class="delete-acc-help-block">one-click delete your account. once comfirmed, this cannot be undone</span> 
    <%= button_to "yes, delete my account", registration_path(resource_name), class: 'btn btn-danger delete_acc', data: { confirm: "Are you sure?" }, method: :delete %>
  </p>
</div>

<%= link_to "<< back", :back, class: 'btn btn-default btn-sm' %>