
<h1>edit info for Admin  <span class="admin_name"><%= @admin.first_name + " " + @admin.last_name %></span> </h1>

<%= bootstrap_form_for(@admin) do |f| %>
    <%= f.text_field :img_url, label: "profile img url" %>
    <%= f.text_field :first_name, label: "first name" %>
    <%= f.text_field :last_name, label: "last name" %>
    <%= f.date_field :DOB, label: "date of birth" %>
    <%= f.text_field :edu_level, label: "education level" %>
    <%= f.text_field :position, label: "position" %>
    <%= f.date_field :hire_date, label: "hire date" %>
    <%= f.number_field :salary, label: "salary" %>

    <%= f.email_field :email %>
    <%= f.password_field :password %>

    <%= f.submit "update admin info", class: "btn create_btn"%>
    </br>
    </br>

    <a href="/admins/new"><button class="btn btn-primary add_ppl_btn">create new Admin</button></a>

    </br>
    </br>
<% end %>

<div class="delete_ppl">
<%= form_tag("/admins/#{params[:id]}", method: "delete") do %>
<%= submit_tag("delete this Admin", class: "btn btn-danger delete_ppl_btn") %>
<% end %>
</div>