<h1>Admins#show - shows individual admin's details</h1>
<p>Find me in app/views/admins/show.html.erb</p>

</br>
</br>
</br>

<ul class="single_admin">
    <li> <%=  @admin.first_name + " " + @admin.last_name  %> </li>
    <li> <%=  @admin.DOB %> </li>
    <li> <%=  @admin.edu_level %> </li>
    <li> <%=  @admin.position %> </li>
    <li> <%=  @admin.hire_date %> </li>
    <li> <%=  @admin.salary %> </li>
    <li> <%=    %> </li>
    <li> <%=  @admin.email %> </li>
</ul>
