<h1>Students#show</h1>
<p>Find me in app/views/students/show.html.erb</p>

</br>
</br>
</br>

<ul class="single_student">
    <li> <%=  @student.first_name + " " + @student.last_name  %> </li>
    <li> <%=  @student.DOB %> </li>
    <li> <%=  @student.edu_level %> </li>
    <li> <%=    %> </li>
    <li> <%=  @student.email %> </li>
    <li> success coach: <%=  @student_admin.first_name + " " + @student_admin.last_name  %> </li>
</ul>