<h1>create a new Instructor</h1>

<%= bootstrap_form_for(@instructor) do |f| %>
    <%= f.text_field :img_url, label: "profile img url" %>
    <%= f.text_field :first_name, label: "first name" %>
    <%= f.text_field :last_name, label: "last name" %>
    <%= f.date_field :DOB, selected: Date.today, min: 150.years.ago, label: "date of birth" %>
    <%= f.text_field :edu_level, label: "education level" %>
    <%= f.text_field :expertise, label: "expertise" %>
    <%= f.text_field :position, label: "position" %>
    <%= f.date_field :hire_date, label: "hire date" %>
    <%= f.number_field :salary, min: 0, label: "salary" %>

    <%= f.email_field :email %>
    <%= f.password_field :password %>

    <%# this will be hidden and automatically set to the session[:id] (the id of the current Admin user) %>
    <%= f.number_field :admin_id, label: "admin id" %>

    <%= f.submit "create instructor", class: "btn create_btn"%>
<% end %>


