<h1>Instructors#show</h1>
<p>Find me in app/views/instructors/show.html.erb</p>

</br>
</br>
</br>

<ul class="single_student">
    <li> <%=  @instructor.first_name + " " + @instructor.last_name  %> </li>
    <li> <%=  @instructor.DOB %> </li>
    <li> <%=  @instructor.edu_level %> </li>
    <li> <%=  @instructor.expertise %> </li>
    <li> <%=  @instructor.position %> </li>
    <li> <%=  @instructor.hire_date %> </li>
    <li> <%=  @instructor.salary %> </li>
    <li> <%=    %> </li>
    <li> <%=  @instructor.email %> </li>
    <li> success coach: <%=  @instructor_admin.first_name + " " + @instructor_admin.last_name  %> </li>
</ul>