<h1>StudentApplicants#show</h1>
<p>Find me in app/views/student_applicants/show.html.erb</p>

</br>
</br>
</br>

<ul class="single_student">
    <li> <%=  @student_applicant.first_name + " " + @student_applicant.last_name  %> </li>
    <li> <%=  @student_applicant.DOB %> </li>
    <li> <%=  @student_applicant.edu_level %> </li>
    <li> <%=    %> </li>
    <li> <%=  @student_applicant.email %> </li>
</ul>