<h1>create a new Course</h1>

<%= bootstrap_form_for(@course) do |f| %>
    <%= f.text_field :img_url, label: "profile img url" %>
    <%= f.text_field :name, label: "course name" %>
    <%= f.text_field :subjects, label: "course subjects" %>

    <%# this will be hidden and automatically set to the session[:id] (the id of the current Admin user) %>
    <%= f.number_field :admin_id, label: "admin id" %>

    <%= f.submit "create course", class: "btn create_btn"%>
<% end %>