
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>






</br>
</br>
</br>
</br>
</br>
</br>
</br>








<h1>update info for your student <span class="student_name"><%= @student.first_name + " " + @student.last_name %></span> </h1>

<%= bootstrap_form_for(@student) do |f| %>
<%#= bootstrap_form_for(@student, remote: true, html: { method: :put }) do |f| %>

    <%= f.text_field :img_url, label: "profile img url" %>
    <%= f.text_field :first_name, label: "first name" %>
    <%= f.text_field :last_name, label: "last name" %>
    <%= f.date_field :DOB, label: "date of birth" %>
    <%= f.text_field :edu_level, label: "education level" %>

    <%= f.email_field :email %>
    <%= f.password_field :password %>

    <%# this will be hidden and automatically set to the session[:id] (the id of the current Admin user) %>
    <%= f.number_field :admin_id, label: "admin id" %>

    <%= f.submit "update student info", class: "btn create_btn"%>

    </br>
    </br>

    <a href="/students/new"><button class="btn btn-primary add_ppl_btn">create new student</button></a>

    </br>
    </br>
<% end %>


<div class="delete_ppl">
<%= form_tag("/students/#{params[:id]}", method: "delete") do %>
<%= submit_tag("delete this student", class: "btn btn-danger delete_ppl_btn") %>
<% end %>
</div>
</br>
</br>
<%= link_to "<< back", :back, class: 'btn btn-default btn-sm' %>